{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sticker list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>View</th>
                <th>Color_0</th>
                <th>Color_1</th>
                <th>Color_2</th>
                <th>Message</th>
                <th>Username</th>
                <th>Creation_date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sticker in stickers %}
            <tr>
                <td><a href="{{ path('sticker_show', { 'id': sticker.id }) }}">{{ sticker.id }}</a></td>
                <td>{{ sticker.view }}</td>
                <td>{{ sticker.color0 }}</td>
                <td>{{ sticker.color1 }}</td>
                <td>{{ sticker.color2 }}</td>
                <td>{{ sticker.message }}</td>
                <td>{{ sticker.username }}</td>
                <td>{% if sticker.creationdate %}{{ sticker.creationdate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sticker_show', { 'id': sticker.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sticker_edit', { 'id': sticker.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sticker_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
