{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sticker</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sticker.id }}</td>
            </tr>
            <tr>
                <th>View</th>
                <td>{{ sticker.view }}</td>
            </tr>
            <tr>
                <th>Color_0</th>
                <td>{{ sticker.color0 }}</td>
            </tr>
            <tr>
                <th>Color_1</th>
                <td>{{ sticker.color1 }}</td>
            </tr>
            <tr>
                <th>Color_2</th>
                <td>{{ sticker.color2 }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ sticker.message }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ sticker.username }}</td>
            </tr>
            <tr>
                <th>Creation_date</th>
                <td>{% if sticker.creationdate %}{{ sticker.creationdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sticker_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sticker_edit', { 'id': sticker.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
